$web-nav-search-font: $titles-font-family;
$web-header-background-color: $color-primary;
$web-header-text-color: white;
.footer {
    font-family: $web-nav-search-font;
    color: $web-header-text-color;
    background-color: $web-header-background-color;
    position: fixed;
    bottom: 0px;
    height: 20px;
	width: 100%;
    padding: 10px;
    .footer-title {
        color: $web-header-text-color;
        display: flex;
        justify-content: center;
        margin: 0px;
        font-family: $web-header-title-font;
    }
}
