$web-nav-search-font: $titles-font-family;
$web-header-background-color: $color-primary;
$web-header-text-color: white;
.footer {
    font-family: $web-nav-search-font;
    color: $web-header-text-color;
    background-color: $web-header-background-color;
    //position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    //bottom: 0%;
    height: 20px;
    width: 100%;
    padding: 10px;
    .footer-title {
        color: $web-header-text-color;
        margin: 0px;
        font-family: $web-header-title-font;
    }
    .go-top {
        font-family: $web-nav-search-font;
        color: $web-header-text-color;
        background-color: $web-header-background-color;
        margin-left: 10px;
    }
}
