// Fuentes para los titulos y el texto del body principal

$main-font-family: "Lato", serif;
$titles-font-family: "Overpass", serif;
$body-font-family: $main-font-family;

// Tamaños de la respectivas fuentes

$font-size-base: 16px;
$font-size-small: $font-size-base - 6px;
$font-size-large: $font-size-base + 6px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Colores de nuestra pagina

$color-japanese-violet: #462255;
$color-deep-koamaru: #313B72;
$color-shiny-shamrock: #62A87C;
$color-pastel-green: #7EE081;
$color-tea-green: #C3F3C0;

// Colores de los principales componentes:

$color-primary: $color-japanese-violet;
$color-secondary: $color-deep-koamaru;

$main-text-color: $color-shiny-shamrock;
$body-background-color: $color-tea-green;

// Responsive Breakpoints

$large-screen-width: 1024px; // iPad en landscape o superior
$medium-screen-width: 768px; // iPad portrait
$small-screen-width: $medium-screen-width - 1; // smartphones

