// Variables
$web-header-background-color: $color-primary;
$web-header-form-color: $color-secondary;
$web-header-text-color: white;
$web-header-title-font: $titles-font-family;
$web-nav-search-font: $titles-font-family;
$web-margin: 0;
// Estilos 
@include if-is-medium-screen {
    .web-header {
        display: flex;
    }
    .web-title {
        font-size: large;
    }
    .flex-user {
        align-items: center;
        border-right: 1px solid;
        a {
            text-decoration: none;
        }
    }
    .flex-title {
        align-items: center;
        padding-right: 6px;
        border-right: 1px solid;
        margin-right: 3px;
        a {
            display: none;
        }
    }
    .flex-menu {
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    .search {
        order: 1;
        &:focus {
            outline-color: $color-deep-koamaru;
        }
    }
    .cat {
        display: none;
    }
}

.web-header {
    background: $web-header-background-color;
    padding: 10px;
    z-index: 100;
    position: relative;
    .web-title {
        color: $web-header-text-color;
        text-align: center;
        margin: $web-margin;
        font-family: $web-header-title-font;
    }
}

.titulo2 {
    display: none;
}

.cat {
    display: none;
}

.flex-menu,
.flex-user,
.flex-title {
    display: flex;
    font-family: $web-nav-search-font;
    color: $web-header-text-color;
}

.flex-title {
    direction: rtl;
}

.flex-title a {
    padding: 10px;
    color: $web-header-text-color;
}

.flex-menu {
    list-style-type: none;
    padding: 0;
    margin: $web-margin;
    flex-direction: row;
    justify-content: center;
}

.flex-menu a {
    padding: 0 10px;
    flex-grow: 1;
    text-align: center;
    color: $web-header-text-color;
    text-decoration: none;
}

.flex-user {
    direction: rtl;
}

.flex-user a {
    padding: 10px;
    color: $web-header-text-color;
    text-decoration: none;
}

.search {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #d4d2d2;
    &:focus {
        outline-color: $color-deep-koamaru;
    }
}
